@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.playlist {
  width: 200px;
  height: 325px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 4rem;
  &:not(:last-child) {
    margin-right: 4rem;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  .title {
    font-size: 18px;
    padding-top: 1rem;
  }
  .description {
    font-size: 14px;
    line-height: 17px;
    width: 85%;
  }
}

.home-container {
  margin-top: 7rem;
}

.playlist-carousel {
  //   width: 1150px;
  max-width: 80rem;
  height: 325px;
  margin: 7rem 8.8rem;
  .playlist-top {
    display: flex;
  }
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    padding: 0 0.5rem;
  }
  .carousel {
    overflow-x: hidden;
  }
  .arrow {
    padding-left: 15px;
    cursor: pointer;
  }
  .playlist-container {
    display: flex;
  }
}
.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.carousel::-webkit-scrollbar {
  display: none;
}
